$white: white;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

html {
  background-color: #000;
  color: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

body {
  background-color: inherit;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;

  & > * {
    padding: 24px;
  }

  img {
    width: clamp(320px, 100%, 1120px);
    margin-left: auto;
    margin-right: auto;
  }
}

.canvas-wrapper {
  position: absolute;
  right: 0;
}

.header {
  &__title {
    font-size: 1.4rem;
    letter-spacing: -0.025em;
    &--center {
      @extend .header__title;
    }
  }
}

a {
  color: inherit;
  font-size: inherit;
  margin-top: 16px;
  display: inline-block;
}

p {
  line-height: 1.9;
}
