<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- partial "head" -}}
    <title>{{.Site.Title}}</title>
  </head>
  <body style="overflow: hidden">
    <div id="canvas" style="position: fixed; mix-blend-mode: lighten"></div>

    <div class="container" style="position: relative; z-index: 100">
      <div>
        <div>{{- partial "header" . -}}</div>
        <div>
          <ul>
            {{ range .Site.RegularPages }}
            <li>
              <a href="{{.RelPermalink}}" title="{{.Title}}"> {{.Title}} </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <script>
      let f = 0;
      let value = 0;
      let clicked = 0;
      let x = 0;
      let y = 0;
      let scaleFactor = 1;
      let hueOffset = 0; // 색상 오프셋 값

      function Super_Tornado() {
        ratio = frameCount * 0.01;
        points = [];

        for (let i = 0; i <= 360; i += 0.1) {
          let theta = radians(i * ratio);
          x = cos(theta) * i * sin(i);
          y = (sin(log(theta)) * i) / tan(i);

          let hue = map(i, 0, 360, hueOffset, hueOffset + 255); // 색상 오프셋 적용
          let saturation = 255;
          let brightness = 255;
          colorMode(HSB, 255);
          fill(hue, saturation, brightness);

          let size = map(
            dist(mouseX, mouseY, width / 2, height / 2),
            0,
            width / 2,
            5,
            1
          ); // 마우스와의 거리에 따른 크기 조절
          ellipse(x, y, size, size);
          points.push({ x: x, y: y });
        }
      }

      function setup() {
        let myCanvas = createCanvas(windowWidth, windowHeight);
        myCanvas.position(0, 0);
        myCanvas.parent("#canvas");
        noStroke();
        colorMode(HSB, 255);
      }

      function draw() {
        background(0);
        translate(width / 2, height / 2);
        scale(scaleFactor);
        ratio = frameCount * 0.01;
        points = [];
        Super_Tornado();
      }

      function mouseWheel(event) {
        if (event.delta < 0) {
          scaleFactor *= 1.05;
        } else {
          scaleFactor /= 1.05;
        }
      }

      function mouseClicked() {
        hueOffset = (hueOffset + 180) % 360; // 클릭할 때마다 색상 오프셋 값을 180도씩 변경
      }

      function mouseMoved() {
        scaleFactor = map(mouseY, 0, height, 0.5, 4); // 마우스 Y 좌표에 따라 스케일 조절
      }
    </script>
  </body>
</html>
